# Python cache and temporary files
__pycache__/
*.pyc

# Project-specific files to ignore
logistic_model.pkl  # The trained machine learning model
users.db            # The local SQLite database for user accounts